.fJJBFP {
    background: linear-gradient(120.84deg, rgb(14, 15, 18) -0.88%, rgb(17, 19, 22) 100%);
    min-height: 105vh;
}

.jWLnFF {
    padding: 16px 70px 48px;
    background: linear-gradient(rgb(31, 33, 40) 0%, rgba(31, 33, 40, 0.5) 100%);
}

@media (max-width: 988px) {
    .jWLnFF {
        padding: 16px 5px 48px;
    }
}

.itdIwy {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    -moz-box-pack: justify;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 988px) {
    .exDsyF {
        flex-direction: column;
        -moz-box-align: center;
        align-items: center;
    }
}

.jhpERS {
    margin-bottom: 2.5rem;
}

.hqFLff {
    display: flex;
    padding: 4px;
    justify-content: space-around;
    min-height: 48px;
    background: rgb(54, 54, 55);
    box-shadow: rgba(136, 136, 136, 0.08) 0px 0px 8px inset;
    border-radius: 42px;
    position: relative;
    z-index: 1;
}

.ecdGcy {
    transition: all 0.4s ease 0s;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.01em;
    border-radius: 90px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgba(20, 21, 24, 0.12);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px;
    color: rgb(20, 21, 24);
}

.CtxP {
    transition: all 0.4s ease 0s;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: rgb(255, 255, 255);
    border-radius: 90px;
}

.jSRQIB {
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    gap: 24px;
}

@media (max-width: 988px) {
    .lluBWC {
        width: 100%;
    }
}

.ctRKbT {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    gap: 37px;
}
/*  Метод отображения выбора расписания    */
@media (max-width: 639px) {
    .lnuFxt {
        flex-direction: column;
    }
}
/*  Метод отображения выбора расписания    */
.cAFajx {                                           /*  Стиль кнопки при нажатии    */
    position: relative;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.cAFajx::after {                                    /*  Подчеркивание кнопки при нажатии    */
    content: "";
    top: -12px;
    border-radius: 6px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    display: block;
}   

.iYOCWO {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.iYOCWO::after {
    content: "";
    top: -12px;
    border-radius: 6px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    display: none;
}

.bzQHlE {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    gap: 15px;
    color: rgb(255, 255, 255);
}

.css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
}

.css-7pg0cj-a11yText {
    z-index: 9999;
    border: 0px none;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    padding: 0px;
    white-space: nowrap;
}

.css-fn8a08-control {
    -moz-box-align: center;
    align-items: center;
    background-color: rgb(54, 54, 55);
    border-radius: 4px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -moz-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    outline: currentcolor none 0px !important;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    border: medium none;
}

.css-djqjus-control {
    -moz-box-align: center;
    align-items: center;
    background-color: rgb(54, 54, 55);
    border-radius: 4px;
    box-shadow: rgb(38, 132, 255) 0px 0px 0px 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -moz-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    outline: currentcolor none 0px !important;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    border: medium none;
}

.css-1d8n9bt {
    -moz-box-align: center;
    align-items: center;
    display: grid;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.css-1kdmhj7-singleValue {
    color: rgb(255, 255, 255);
    grid-area: 1 / 1 / 2 / 3;
    margin-left: 2px;
    margin-right: 2px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.css-dbtfx3 {
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    visibility: visible;
    color: rgb(255, 255, 255);
    flex: 1 1 auto;
    display: inline-grid;
    grid-area: 1 / 1 / 2 / 3;
    grid-template-columns: 0px min-content;
    box-sizing: border-box;
}

.css-dbtfx3::after {
    content: attr(data-value) " ";
    visibility: hidden;
    white-space: pre;
    grid-area: 1 / 2;
    font: inherit;
    min-width: 2px;
    border: 0px none;
    margin: 0px;
    outline: currentcolor none 0px;
    padding: 0px;
}

.css-1wy0on6 {
    -moz-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
}

.css-43ykx9-indicatorSeparator {
    align-self: stretch;
    background-color: rgb(204, 204, 204);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
    display: none;
}

.css-tlfecz-indicatorContainer {
    color: rgb(204, 204, 204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}

.css-8mmkcg {
    display: inline-block;
    fill: currentcolor;
    line-height: 1;
    stroke: currentcolor;
    stroke-width: 0px;
}

.css-1gtu0rj-indicatorContainer {
    color: rgb(102, 102, 102);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}

.css-1gtu0rj-indicatorContainer:hover {
    color: rgb(51, 51, 51);
}

.kaGDSs {
    max-width: 18px;
    max-height: 17px;
    width: 100%;
}

.gsDVDds {
    display: none;
}

.gsDVDdss {
    display: block;
}

.css-s4s0z4-menu {
    top: 100%;
    background-color: rgb(54, 54, 55);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
    margin-bottom: 8px;
    margin-top: 8px;
    position: absolute;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.flat-virtualized-item, .grouped-virtualized-list-item {
    background-color: initial;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    user-select: none;
}

/*  Выделена группа   */
.fast-option-selected {
    background-color: #2684ff;
    box-sizing: border-box;
    user-select: none;
}

.css-s4s0z4-menu .fast-option-selected {
    color: rgb(33, 35, 42);
    font-weight: bold;
}

.flat-virtualized-item > div, .grouped-virtualized-list-item > div {
    height: 100%;
    width: 100%;
}
/*  Выделена группа   */

.fast-option {
    height: 100%;
    padding-left: 1em;
    text-overflow: ellipsis;
}

.fast-option {
    white-space: nowrap;
}

.resize-triggers, .resize-triggers > div, .contract-trigger::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.resize-triggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
}

.resize-triggers > div {
    background: #eee;
    overflow: auto;
}

.contract-trigger::before {
    width: 200%;
    height: 200%;
}


/*  Центральная часть   */

.kWNTls {
    overflow: hidden;
    background-color: rgba(31, 33, 40, 0.5);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
    border-radius: 40px;
    padding: 48px 20px 7rem;
    margin: 36px 24px 64px;
}

.ndWVA {
    padding-left: 100px;
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px 1.5rem;
}

/* */

.agDSad {
    display: none;
}

.agDSaf {
    display: none;
}

.agDSag {
    display: none;
}

@media (max-width: 639px) {
    .agDSag {
        display: block;
    }

    .counter, .mon, .tue, .wed, .thu, .fri, .sat {
        display: none;
    }
}

@media (min-width: 639px) and (max-width: 988px) {
    .agDSaf {
        display: block;
    }
    .counter, .mon, .tue, .wed, .thu, .fri, .sat {
        display: none;
    }
}

@media (min-width: 988px) and (max-width: 1440px) {
    .agDSad {
        display: block;
    }
    .counter, .mon, .tue, .wed, .thu, .fri, .sat {
        display: none;
    }
}

/* */

@media (max-width: 1440px) {
    .ndWVA {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 988px) {
    .ndWVA {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 639px) {
    .ndWVA {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 23px;
    }
}

.fhgwbl {
    transform: scale(1.1, 1.2);
    position: absolute;
    background: linear-gradient(rgba(54, 54, 55, 0) 0%, rgba(54, 54, 55, 0.5) 10.73%, rgb(54, 54, 55) 55%, rgba(54, 54, 55, 0.5) 89.9%, rgba(54, 54, 55, 0.29) 100%);
    grid-column: 6 / span 1;
    width: 100%;
    top: 0px;
    bottom: 0px;
    z-index: 0;
}

.crdMjQ {
    font-weight: 600;
    font-size: 16px;
    color: rgb(255, 255, 255);
    z-index: 2;
}

@media (max-width: 639px) {
    .crdMjQ {
        display: none;
    }
}

.IVCfG {
    position: relative;
    align-self: start;
    grid-column: 1 / -1;
}

.kjVeFE {
    left: -90px;
    right: 0px;
    top: -17px;
    position: absolute;
}

@media (max-width: 639px) {
    .kjVeFE {
        left: -44px;
    }
}

.hNFxNP {
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

.lfsYSc {
    width: 64px;
    height: 36px;
    background: rgb(255, 255, 255);
    border-radius: 42px;
    color: rgb(33, 35, 42);
    font-weight: 600;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}

@media (max-width: 639px) {
    .lfsYSc {
        background: none;
        color: rgb(255, 255, 255);
    }
}

.kBlLYH {
    border-top: 1px dashed rgb(255, 255, 255);
    width: 100%;
}

.dOkiGQ {
    background-color: rgb(246, 179, 130);
}

/*  Предмет без доп инфы    */
.XelGi {
    background: rgba(31, 33, 40, 0.9);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px;
    border-radius: 16px;
    padding: 20px 25px 21px;
    z-index: 5;
}

.fzwPwA {
    background-color: rgb(255, 127, 150);
}

/*  Предмет без доп инфы    */
/*  Пустая ячейка    */
.eSohnc {
    height: 150px;
}
/*  Пустая ячейка    */
/*  Сдвоенный предмет с доп инфой    */
.jzmiUH {
    grid-row-start: span 2;
    z-index: 9;
}

.fIAOb:first-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.fIAOb {
    background: rgba(31, 33, 40, 0.9);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px;
    border-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 20px 25px 16px;
    position: relative;
}

.fIAOb:not(:first-child):not(:last-child) {
    border-radius: 0px;
}

.fIAOb:not(:first-child) {
    border-top: 0.5px dashed rgb(20, 21, 24);
}

.fIAOb {
    background: rgba(31, 33, 40, 0.9);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px;
    border-radius: 16px;
    padding: 20px 25px 16px;
    position: relative;
}

.fIAOb:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
}

    .fIAOb:not(:first-child)::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        top: 0px;
        right: 0px;
        transform: translate(50%, -50%);
    }

.jfqwnP {
    gap: 25px;
    -moz-box-align: center;
    align-items: center;
}

.ejlNuV {
    background-color: rgb(148, 157, 255);
}

.dGpQBt {
    width: 84px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border-radius: 8px;
    color: rgb(33, 35, 42);
    font-weight: 600;
}

.gaiJRa {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: rgb(255, 255, 255);
    margin-top: 13px;
}

.hleEIG {
    gap: 4px;
}

.bJgQKs {
    max-width: 92px;
    max-height: 92px;
    width: 100%;
}

.kzWQGg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(46deg) brightness(100%) contrast(103%);
}

.kLtnvU {
    gap: 7px;
}

.dAXgGz {
    position: relative;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    -moz-box-align: center;
    align-items: center;
}

.cfbwBT {
    display: flex;
}

.kAzpQD {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.AACIN {
    background-color: rgb(54, 54, 55);
    color: rgb(255, 255, 255);
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}
/*  Сдвоенный предмет с доп инфой    */



/*==============================*/
/*     Кнопка выбора недели     */
/*==============================*/
.style {
    display: flex;
    padding: 4px;
    justify-content: space-around;
    min-height: 48px;
    background: rgb(54, 54, 55);
    box-shadow: rgba(136, 136, 136, 0.08) 0px 0px 8px inset;
    border-radius: 42px;
    position: relative;
    z-index: 1;
}

/* Кнопка нажата */
.active {
    transition: all 0.4s ease 0s;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.01em;
    border-radius: 90px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgba(20, 21, 24, 0.12);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px;
    color: rgb(20, 21, 24);
}

/* Кнопка в обычном состоянии */
.deactive {
    transition: all 0.4s ease 0s;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: rgb(255, 255, 255);
    border-radius: 90px;
}

/*==============================*/
/*      Кнопка смены темы       */
/*==============================*/
.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

/* Слайдер смены темы */
.slider {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}

.slider::before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

.slider.round::before {
    border-radius: 50%;
}

/* Слайдер смены темы при нажатии */
input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

/* Иконки луны и солнца при смене темы */
.checker::before {
    content: url(/static/media/moon.svg);
    left: -45px;
}

.checker::after {
    content: url(/static/media/sun.svg);
    right: -45px;
}

.checker::after, .checker::before {
    height: 28px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: .4s;
    width: 28px;
}

input:checked ~ .checker::before, input:not(:checked) ~ .checker::after {
    opacity: 0;
}
/*==============================*/